# Enable CORS globally
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With, x-auth-token"
    Header set Access-Control-Max-Age "3600"
    Header set Content-Type "application/json; charset=UTF-8"
</IfModule>

# Rewrite Engine
RewriteEngine On

# Normal routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
